
              <div class="card card-info">
                <h5 class="card-header">Información personal <i class="fas fa-laptop-code"></i></h5>
                <div class="card-body">
                  <div class="row">

                    <div class="col-sm-3">
                      <label class="mb-0">Edad</label>
                    </div>
                    <div class="col-sm-9">
                      <label class=" mb-0">{{age}}</label>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <label class="mb-0">Nacionalidad</label>
                    </div>
                    <div class="col-sm-9">
                      <label class="mb-0">{{nationality}}</label>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <label class="mb-0">Correo:</label>
                    </div>
                    <div class="col-sm-9">
                      <label class="mb-0">{{email}}</label>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <label class="mb-0">Telefono</label>
                    </div>
                    <div class="col-sm-9">
                      <label class="mb-0">{{phone}}</label>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <label class="mb-0">Carrera</label>
                    </div>
                    <div class="col-sm-9">
                      <label class="mb-0">{{career}}</label>
                    </div>
                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <label class="mb-0">Pelicula favorita</label>
                    </div>
                    <div class="col-sm-9">
                      <label class="mb-0">{{movies}}</label>
                    </div>
                  </div>
                  <hr>
                  
                  <div class="row">
                    <div class="col-sm-3">
                      <label class="mb-0">Hobbie</label>
                    </div>
                    <div class="col-sm-9">
                      <label class="mb-0">{{hobbie}}</label>
                    </div>
                  </div>
                 
                  

                </div>
              </div>


            
