 <div class="card card-form col-3">
    <div class="card-body">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <h5>Por favor Dejenos un mensaje</h5>
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" formControlName="name" id="name">
            </div>

            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input id="email" type="email"  class="form-control" formControlName="email">
            </div>

            <div class="mb-3">
                <label class="form-label" for="asunto">
                    Asunto
                </label>
                <input class="form-control" id="asunto" type="text" formControlName="asunto">
            </div>

            <div class="mb-3">
                <label for="descrpcion">
                    Descripcion
                </label>
                <input class="form-control" id="descrpcion" type="text" formControlName="descrpcion">
            </div>
           
            <button type="submit" class="btn bt-guardar">Enviar</button>
        </form>
    </div>
  </div>

  <div *ngIf="status">
    <h2>Los datos Ingresados Fueron</h2>
    <h3>El nombre  fue : {{nombre}}</h3>
    <h3>El asunto fue : {{asunto}}</h3>
</div>


 
