
<h4 class="mt-5">Hola ingresa información de tu pelicula favorita
</h4>
<input class="form-control mt-5" placeholder="Nombre de la pelicula"  type="text" [(ngModel)]="nombre_peli">
<input class="form-control mt-3" placeholder="Año en que se esntreno" type="text" [(ngModel)]="ani_estreno">
<input class="form-control mt-3" placeholder="Director" type="text"  [(ngModel)]="director">
<input class="form-control mt-3"  placeholder="Personaje favorito" type="text"  [(ngModel)]="personaje">

<h4 class="mt-5">El nombre de la pelicula es  {{nombre_peli}} y se esntreno en  : {{ani_estreno}}
</h4>
<hr>


 
